.conteiner-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-start;
}

.main-footer {
  background-color: var(--footer-color);
  height: 252px;
  padding: 60px 0px;
}

.footer-logo {
  padding-bottom: 20px;
}

.log-part-w {
  color: var(--background-main-color);
}

a[href="https://goo.gl/maps/fY5pNtDdv6tUA1cWA"]
{
  display: block;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--background-main-color);
  width: 232px;
}

.adres-footer-link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color-heder);
    outline: none;
  }
}

.text-footer-links {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-main-color);
  margin-bottom: 20px;
}

.footer-item {
  &:last-child {
    margin-left: 93px;
  }
  &:nth-child(2) {
    margin-left: 70px;
  }
}

.footer-label {
  display: flex;
}

.adress-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.social-list-foter {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 207px;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding: 15px 16px;
  color: var(--background-main-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid var(--accent-color-heder);
  }
}

.footer-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  color: var(--background-main-color);
  background: var(--accent-color-heder);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font);
  width: 200px;
  height: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--background-main-color);
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    outline: none;

    & .social-list-icon,
    & .social-list-icon {
      fill: var(--background-main-color);
      outline: none;
    }
  }
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--background-main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
