.herou {
  background-image: url("../../images/hero/hero-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

// .herou {
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url("../images/hero/bg.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding: 200px 0px;
//   text-align: center;
//   margin-bottom: 79px;
// }

// .titleh1 {
//   font-family: var(--main-font);
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1, 363;
//   letter-spacing: 0.06em;
//   margin-bottom: 30px; /**/
//   text-align: center;
//   color: var(--background-main-color);
//   text-transform: uppercase;
// }

// .btn-heroy {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.875;
//   letter-spacing: 0.06em;
//   border-radius: 4px;
//   padding: 10px 32px;
//   cursor: pointer;
//   color: var(--background-main-color);
//   background: #188ce8;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   font-family: var(--main-font);
//   min-width: 200px;
//   height: 50px;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
