:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color-heder: #2196f3;
  --accent-color-footer: #ff6347;
  --all-text-color: #212121;
  --background-main-color: #ffffff;
  --gray: rgba(117, 117, 117, 1);
  --footer-color: #2f303a;
}
